version: "3.8"

services:
    temp_container:
        build:
            context: ./
            dockerfile: ./Dockerfile
        volumes:
          - .:/app
        environment:
          - TOKEN=${TOKEN}
        command: >
          /bin/bash -c "cd /app &&
          bundle install &&
          rm -rf _posts docs || true
          mkdir -p _posts &&
          mkdir -p docs &&
          python generate_html.py &&
          bundle exec jekyll build --incremental"
