version: "3.8"

services:
    temp_container:
        build:
            context: ./
            dockerfile: ./Dockerfile
        volumes:
          - .:/app
        environment:
          - TOKEN=${TOKEN}
        command: >
          /bin/bash -c "cd /app &&
          bundle install &&
          rm -r _posts/* &&
          rm -r docs/* &&
          python generate_html.py &&
          bundle exec jekyll build"
