@charset "UTF-8";
.title-link {
  display: inline-block;
  background-color: #FF6600;
  /* 塗りつぶしの色 */
  color: white;
  /* 文字色 */
  padding: 0.2em 0.5em;
  border-radius: 4px;
  text-decoration: none;
  /* 下線消す */
  font-weight: bold;
  transition: background-color 0.2s; }

.title-link:hover {
  background-color: #FF4500;
  /* ホバー時の色変化 */ }

/* タグのスタイル */
.button {
  display: inline-block;
  padding: 3px 7px;
  /* 小さくする */
  border: 1px solid #DDDDDD;
  /* 薄いカラーに */
  border-radius: 10px;
  background-color: #F9F9F9;
  /* 薄い背景カラー */
  color: #888888;
  /* 薄い文字色 */
  font-size: 12px;
  /* フォントサイズ小さく */
  font-weight: normal;
  margin-right: 4px;
  margin-bottom: 2px;
  cursor: pointer; }

.snippet {
  font-size: 14px;
  color: #777;
  margin-top: 3px;
  margin-bottom: 10px;
  /* マージンを調整 */
  display: block;
  /* blockに変更 */
  position: relative;
  padding-top: 20px; }

.snippet > span {
  font-size: 10px;
  color: #ffffff;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #ffa500;
  padding: 1px 4px;
  border: 1px solid #ffa500;
  border-radius: 2px; }

.issue_date {
  font-size: 14px;
  color: #777;
  margin-top: 3px;
  margin-bottom: 3px;
  display: block; }

button {
  margin-top: 10px;
  padding: 5px 15px;
  border: none;
  background-color: #ff5100;
  color: white;
  cursor: pointer;
  border-radius: 4px; }

button:hover {
  background-color: #e54800;
  /* 濃いオレンジ色に変更 */ }

.visible-content {
  display: block; }

.hidden-content {
  display: none; }

.svg-container {
  position: relative;
  width: 100%;
  height: 100%; }

#graph {
  display: block;
  margin: 0 auto;
  /* 必要に応じて他のスタイルを追加 */ }

.tweet-embed {
  position: relative;
  background-color: #f9f9f9;
  /* プレースホルダー用の背景 */
  display: flex;
  align-items: center;
  justify-content: center; }

.tweet-placeholder {
  font-size: 0.9rem;
  color: #555;
  font-style: italic; }
