<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    {%- include views/header.html -%}

    {%- include views/banner.html -%}

    {%- include extensions/hashlocate.html -%}

    {%- include extensions/theme-toggle.html -%}

    {%- include extensions/click-to-top.html -%}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    {%- include views/footer.html -%}

    {% assign pagefind_baseurl = site.baseurl | default: '' %}
    {% unless pagefind_baseurl == '' %}
      {% assign pagefind_baseurl = pagefind_baseurl | prepend: '/' | replace: '//', '/' %}
    {% endunless %}
    {% assign pagefind_bundle_path = pagefind_baseurl | append: '/pagefind/' | replace: '//', '/' %}
    <pagefind-config base-url="{{ pagefind_baseurl }}/" bundle-path="{{ pagefind_bundle_path }}"></pagefind-config>
    <pagefind-modal></pagefind-modal>

  </body>
  </html>
